.script {
  font-family: "Seaweed Script";
  color: #ff7f50;
  text-align: center;
  font-size: 40px;
  position: relative;
  margin:0;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 200%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: lightsteelblue;
  color: white;
}

.active {
  background: Gainsboro;
}
