.green {
  background: aquamarine;
}

.red {
  background: lightpink;
}

.transparent {
  background: none;
}

#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 20%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 12px;
}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}

.buttonmargin {
  margin: 16px;
}

.textmargin {
  margin-top: 10px;
}
