<div>
  <app-course-table-component></app-course-table-component>
</div>
<div class="row">
  <div>
    <a routerLink="/table/courses"><button class="buttonmargin btn btn-outline-primary pull-right" > Back </button></a>
  </div>
  <h3 class="buttonmargin">
    Quizzes
  </h3>
</div>
  <div >
    <table id="customers">
      <tbody>
      <tr *ngFor="let quiz of quizzes">
        <td>
          <a routerLink="/table/courses/{{courseId}}/quizzes/{{quiz._id}}">
            {{quiz.title}}
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

